---
const { lang = 'ru' } = Astro.props;
---

<section id="comments" aria-label="Комментарии">
  <script src="https://giscus.app/client.js"
    data-repo="madmasuz/itway-blog"
    data-repo-id="R_kgDOQIppqA"
    data-category="Q&A"
    data-category-id="DIC_kwDOQIppqM4CxB-q"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
</section>

